{
  "plugins": [
    "transform-class-properties"
  ],
  "presets": [
    "es2015", "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "plugins": [
        [
          "css-modules-transform", {
            "extensions": [".scss"],
            "preprocessCss": "./pre-processor.js"
          }
        ]
      ]
    }
  }
}
