.search {
  width: 20%;

  &-button {
    background: url(../Search/search.svg) no-repeat;
    background-size: 77%;
    width: 2em;
    height: 2em;
    background-position: 50% 50%;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &-text {
    outline: none;
    width: 0;
    border: none;
    transition: width .3s ease;
    margin-right: 5px;
    padding: .2em;

    &__showen {
      border-bottom: 2px solid #9ed4d6;
      width: 160px;
      max-width: 100%;
      transition: width .3s ease;
    }

  }

  &-results {
    position: absolute;
    max-height: 19.5em;
    overflow: overlay;
    z-index: 10;
    background-color: #fff;
    border-radius: 4px;
    line-height: 1.5;
    width: 170px;
    margin-top: -3px;
    border-left: 1px solid #e6e6ea;
  }

  &-item {
    padding: .3em;
    border-bottom: 1px solid #e6e6ea;
    transition: .3s ease;

    &:hover {
      background-color: rgba(1, 179, 191, 0.06);
      transition: .3s ease;
    }
  }
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 9px;
}

