.search {
  width: 20%;

  &-button {
    background: url(../Search/search.svg) no-repeat;
    background-size: 77%;
    width: 2em;
    height: 2em;
    background-position: 50% 50%;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &-text {
    outline: none;
    width: 0;
    border: none;
    transition: width .3s ease;
    margin-right: 5px;
    padding: .2em;

    &__showen {
      border-bottom: 2px solid #9ed4d6;
      width: 160px;
      max-width: 100%;
      transition: width .3s ease;
    }
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 9px;
}
