.search {
  width: 20%;

  &-button {
    background: url(../Search/search.svg) no-repeat;
    background-size: 77%;
    width: 2em;
    height: 2em;
    background-position: 50% 50%;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &-text {
    outline: none;
    width: 0;
    border: none;
    transition: width .3s ease;
    margin-right: 5px;
    padding: .2em;

    &__showen {
      border-bottom: 2px solid #9ed4d6;
      width: 160px;
      max-width: 100%;
      transition: width .3s ease;
    }

  }

  &-results {
    position: absolute;
    max-height: 19.5em;
    overflow: overlay;
    z-index: 10;
    background-color: #fff;
    border-radius: 4px;
    line-height: 1.5;
    width: 170px;
    margin-top: -3px;
    border: 1px solid #e6e6ea;
  }

  &-item {
    padding: .3em;
    border-bottom: 1px solid #e6e6ea;
  }
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 9px;
}

::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #f8f9fb; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #f8f9fb; 
}
