#root {
  background-color: #f8f9fb;
  color: #474f5c;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.full-row {
  background-color: #fff;
  border-bottom: 1px solid #e6e6ea;
}

.main {
  font-size: 16px;
}

img {
  width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
